<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meihong.dao.AreaDao">

    <resultMap id="BaseResultMap" type="com.meihong.entity.Area">
        <id column="areacode" property="areaCode" jdbcType="VARCHAR"/>
        <result column="areaname" property="areaName" jdbcType="VARCHAR"/>
        <result column="parentAreaCode" property="parentAreaCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        areacode,
        areaname,
        parentareacode
    </sql>

    <insert id="saveArea" parameterType="com.meihong.entity.Area">
        insert into area (
         areacode,
         areaname,
         parentareacode
        )
        values (
        #{areaCode,jdbcType=VARCHAR},
        #{areaName,jdbcType=VARCHAR},
        #{parentAreaCode,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delAreaById" parameterType="String">
        delete from area
        where areacode =  #{areaCode,jdbcType=VARCHAR}
    </delete>

    <update id="updateAreaById" parameterType="com.meihong.entity.Area">
        update area
        set areaname = #{areaName,jdbcType=VARCHAR},
        parentareacode = #{provinceCode,jdbcType=VARCHAR}
        where areacode =  #{areaCode,jdbcType=VARCHAR}
    </update>

    <select id="findAreaById"  parameterType="String" resultType="com.meihong.entity.Area">
        select
        <include refid="Base_Column_List" />
        from area
        where areacode =  #{areaCode,jdbcType=VARCHAR}

    </select>

    <select id="findAllArea"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from area
    </select>
</mapper>