<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meihong.dao.MenuDao">

    <resultMap id="BaseResultMap" type="com.meihong.entity.Menu">
        <id column="menuid" property="menuId" jdbcType="INTEGER"/>
        <result column="menuname" property="menuName" jdbcType="VARCHAR"/>
        <result column="menuurl" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="menustatus" property="menuStatus" jdbcType="VARCHAR"/>
        <result column="parentmenuid" property="parentMenuid" jdbcType="BIGINT"/>
        <result column="menuindex" property="menuIndex" jdbcType="BIGINT"/>
        <result column="perms" property="perms" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        menuid,
        menuname,
        menuurl,
        menustatus,
        parentmenuid,
        menuindex,
        perms,
        type,
        icon

    </sql>

    <insert id="saveMenu" parameterType="com.meihong.entity.Menu">
        insert into menu (
            menuid,
            menuname,
            menuurl,
            menustatus,
            parentmenuid,
            menuindex,
            perms,
            type,
            icon
        )
        values (
            #{menuId,jdbcType=INTEGER},
            #{menuName,jdbcType=VARCHAR},
            #{menuUrl,jdbcType=VARCHAR},
            #{menuStatus,jdbcType=VARCHAR},
            #{parentMenuid,jdbcType=BIGINT},
            #{menuIndex,jdbcType=BIGINT},
            #{perms,jdbcType=VARCHAR},
            #{type,jdbcType=INTEGER},
            #{icon,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.meihong.entity.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menuid,
            </if>
            <if test="menuName != null">
                menuname,
            </if>
            <if test="menuUrl != null">
                menuurl,
            </if>
            <if test="menuStatus != null">
                menustatus,
            </if>

            <if test="parentMenuid != null">
                parentmenuid,
            </if>
            <if test="menuIndex != null">
                menuindex,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="icon != null">
                icon
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menuid = #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                menuname = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                menuurl = #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuStatus != null">
                menustatus = #{menuStatus,jdbcType=VARCHAR},
            </if>
            <if test="parentMenuid != null">
                parentmenuid = #{parentMenuid,jdbcType=BIGINT},
            </if>
            <if test="menuIndex != null">
                menuindex = #{menuIndex,jdbcType=BIGINT},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <delete id="delMenuById" parameterType="int">
        delete from menu
        where menuid = #{menuId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from menu
        where menuid = #{menuId,jdbcType=BIGINT}
    </delete>

    <update id="updateMenuById" parameterType="com.meihong.entity.Menu">
        update menu
        set name = #{name,jdbcType=VARCHAR},
            menuid = #{menuId,jdbcType=INTEGER},
            menuname = #{menuName,jdbcType=VARCHAR},
            menuurl = #{menuUrl,jdbcType=VARCHAR},
            menustatus = #{menuStatus,jdbcType=VARCHAR},
            parentmenuid= #{parentMenuid,jdbcType=BIGINT},
            menuindex = #{menuIndex,jdbcType=BIGINT}
            perms = #{perms,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            icon = #{icon,jdbcType=VARCHAR}
         where menuid = #{menuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.meihong.entity.Menu">
        update menu
        <set>
            <if test="menuName != null">
                menuname = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                menuurl = #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuStatus != null">
                menustatus = #{menuStatus,jdbcType=VARCHAR},
            </if>
            <if test="parentMenuid != null">
                parentmenuid = #{parentMenuid,jdbcType=BIGINT},
            </if>
            <if test="menuIndex != null">
                menuindex = #{menuIndex,jdbcType=BIGINT},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR}
            </if>
        </set>
        where menuid = #{menuId,jdbcType=INTEGER}
    </update>
    <select id="findMenuById"  parameterType="int" resultType="com.meihong.entity.Menu">
        select
        <include refid="Base_Column_List" />
        from menu
        where menuid =#{menuId}

    </select>
    <select id="findAllMenu"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from menu
    </select>
    <select id="findPage"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from menu
    </select>
    <select id="findPageByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + _parameter.menuName + '%'" />
        select
        <include refid="Base_Column_List" />
        from menu
        where name like #{pattern}
    </select>
    <select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT m.*
        FROM menu m,
             memberinfo u,
             memberrole ur,
             rolemenu  rm
        WHERE
        u.membername = #{memberName,jdbcType=VARCHAR}
        AND u.memberid = ur.memberid
        AND ur.roleid = rm.rid
        AND rm.mid = m.menuid
  </select>
  <select id="findRoleMenus" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select m.*
    from
    menu m,
    rolemenu rm
    where rm.rid = #{rid,jdbcType=INTEGER}
    and m.menuid = rm.mid
  </select>
</mapper>
